
:root {
  --text-color:rgb(255, 255, 255);
  --back-color: rgb(19, 17, 18);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--back-color);
  color:var(--text-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: 5% 2%
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  #main-title {
    
    margin-left: 5%;
    white-space: nowrap;
}



.navspan {
  color:lightsteelblue;
  display: none;
}

.navspan.active {
  
  display: initial;
}

  header nav {
  
    margin-right: 12%;
  }
 
  header nav a {
    padding: 6%;
    color:white;
    text-decoration: none;
    
  }

header nav a.active {
  color: deepskyblue;

}

header nav a:hover {
  opacity: 80%;
}

.title-wrap {
  margin-top: 2%;
  justify-content: center;
  text-align: center;
}
/* #titlebanner {
  display: flex;
  size-adjust: 50%;
  
  opacity: 80%;
    
} */


.home-container {
  
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-image: url('./images/background1.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
      
      min-width: 300px;
      background-position: bottom;
      position: relative;
      transition: max-width .4s,width .4s,height .4s;
      margin-left: 2%;
  }


.about-wrap {
  margin: 0 2%;
  margin-top: 5%;
  display: flex;
  
}

.bio-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}


.titlesub {
  font-size: 120%;
}

.prof-container {
 display: flex;
}



.frontend-container {
margin: 5% 7%;
background-color: indigo;
padding: 0 5% 2% 5%;
border-radius: 7px;
}


.backend-container {
margin: 5% 7%;
background-color:deepskyblue;
padding: 0 5% 2% 5%;
border-radius: 7px;
}

li {
  
  list-style-type: none;
}

form {
  
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 15px auto 0;
}

form h1, form h2 {
  text-align: center;
}

form input, form button, form textarea {
  padding: 6px 10px;
  margin-bottom: 7px;
}

form textarea {
  height: 100px;
}

button {
  background-color: rgb(30, 197, 141);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(12, 145, 100);
  cursor: pointer;
}

  @media screen and (max-width: 768px) {

    .home-container {
      height: 50vh;
    width: 100%;
    min-width: 325px;
    margin-top: 10%;
    background-position: bottom;
    
    }
  }